@import url(./reset.css);
body {
    max-width: 850px;

    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 1.5;

    margin: 0 auto;

    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,
li {
    opacity: 0.85;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.section_item {
    display: flex;
    flex-direction: row;
    gap: 30px;

    margin-bottom: 30px;
}

.item_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item_date {
    min-width: 180px;
    opacity: 0.5;
}

.item_title {
    font-weight: 700;
}
