.about_container {
    display: flex;
    justify-content: space-between;

    padding: 0 10px;
    margin-bottom: 25px;
}

.about_profile {
    max-width: 48%;
}

.contact_item {
    margin-bottom: 10px;
}
