.education_container {
    padding: 0 10px;
}

.education_item {
    display: flex;
    flex-direction: row;
    gap: 30px;

    margin-bottom: 30px;
}

.edu_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
